@{
    ViewData["Title"] = "Home Page";
}
@model List<Learning_App.Models.Response.ListCourses>

<main role="main">

    <section class="py-5 text-center container bg-white">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Beewiser</h1>
                <p class="lead text-body-secondary">Unlock Your Potential, Anytime, Anywhere</p>
            </div>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">

            <div class="row">
                @foreach (var course in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="@course.ImageUrl" alt="Course Image">
                            <div class="card-body">
                                <h5 class="card-title">@course.Title</h5>
                                <p class="card-text">@course.Description</p>
                                <div class="d-flex justify-content-between">
                                    <p class="card-text"><span class="fw-bolder">Instructor:</span> @course.Instructor.Name</p>
                                    @if (Context.Session.GetInt32("user_role") == 1)
                                    {
                                        @if(course.IsEnrolled)
                                        {
                                            <a href="@Url.Action("CourseDetailView", "Home", new { courseId = course.CourseId })" class="btn btn-outline-primary">View</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("EnrollCourse", "Home", new { courseId = course.CourseId })" class="btn btn-outline-success">Enroll Course</a>
                                        }
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</main>